body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f5f7;
}
     /* display: flex;
}  */

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #ffffff;
    padding: 20px;
    height: 150vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 20px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    margin: 15px 0;
}

.sidebar-menu li a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.sidebar-menu li a:hover,
.sidebar-menu li.active a {
    background-color: #007bff;
    color: #fff;
}

.sidebar .section{
    font-size: 15px;
    color: #999;
    margin-top: 20px;
}

.sidebar .section li{
    padding: 10px;
    margin: 15px 0;
    display: block;
}

.main-content {
    flex-grow: 1;
    padding: 30px;
    background-color: #f8f9fa;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.search-bar input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.header-icons a {
    color: #333;
    margin-left: 20px;
    text-decoration: none;
}

.user-profile img {
    border-radius: 50%;
    margin-right: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    color: #333;
}

.add-contact-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.contact-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-card img {
    /* border-radius: 50%; */
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}

.contact-card h3 {
    margin: 0 0 10px 0;
    color: #333;
    font-size: 18px;
}

.contact-card p {
    color: #888;
    font-size: 14px;
    margin-bottom: 15px;
}

.message-btn {
    background-color: #f4f5f7;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
} 
 